<div class="row no-gutters">

  <div class="col-lg-6 col-md-6 col-sm-12">
    <mat-card>
      <mat-card-header>
        <!--<div mat-card-avatar class="example-header-image"></div>-->
        <mat-card-title>{{movie.Title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img mat-card-image [src]="movie.Poster" alt="Poster of {{movie.Title}}">
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <form>
      AAAAA
    </form>
  </div>
</div>
