<div class="row no-gutters">
  <div class="col-12 navigation-bar">
    <mat-toolbar>

      <mat-toolbar-row>
        Movies App
        <a mat-button routerLinkActive="active"
           routerLink="/">List</a>
        <button mat-button (click)="changePanelOpenState()">Advanced search</button>
        <mat-form-field >
          <mat-label><small>Search by title</small></mat-label>
          <input matInput placeholder="Title">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

      </mat-toolbar-row>

    </mat-toolbar>
    <mat-accordion>
      <mat-expansion-panel [expanded]="panelOpenState">
        <div class="row">
          <div class="col-lg-6 col-md-12 search-container">
            <mat-form-field>
              <input matInput placeholder="First name">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Age">
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-12 search-container">

          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="col-12">
    <router-outlet></router-outlet>
  </div>
  <div class="col-12">
  </div>
</div>
