<div class="nav-row">
  <div class="navigation-bar">
    <a mat-button routerLinkActive="active" class="home-btn"
       routerLink="/">Movies App</a>
    <div class="search-group">
      <button mat-button (click)="changePanelOpenState()">Advanced search</button>
      <app-autocomplete-input
        (selectedOther)="searchAnotherId($event)"></app-autocomplete-input>
    </div>

  </div>
  <mat-accordion>
    <mat-expansion-panel [expanded]="panelOpenState">
      <app-advanced-search
        class="advanced-search"
        (search)="searchAnotherQuery($event)"
        (reset)="resetParameters()"></app-advanced-search>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div class="main-body-row">
  <router-outlet></router-outlet>
</div>


<!--  </div>-->
<!--  <div>-->
<!--    <router-outlet></router-outlet>-->
<!--  </div>-->
<!--  <div>-->
<!--  </div>-->
<!--</div>-->
