<div class="nav-row">
  <div class="navigation-bar">
    <a mat-button routerLinkActive="active" class="home-btn"
       routerLink="/">Movies App</a>
    <div class="search-group">
      <button mat-button (click)="changePanelOpenState()">Advanced search</button>
      <mat-form-field>
        <mat-label><small>Search by title</small></mat-label>
        <input matInput placeholder="Title">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

  </div>
  <mat-accordion>
    <mat-expansion-panel [expanded]="panelOpenState">
      <div class="">
        <div class="search-container">
          <mat-form-field>
            <input matInput placeholder="First name">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Age">
          </mat-form-field>
        </div>
        <div class="search-container">

        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div class="main-body-row">
  <router-outlet></router-outlet>
</div>


<!--  </div>-->
<!--  <div>-->
<!--    <router-outlet></router-outlet>-->
<!--  </div>-->
<!--  <div>-->
<!--  </div>-->
<!--</div>-->
