img.mat-card-image
  height: 72%
.mat-card
  border-radius: 0
  width: 100%
  height: auto
  .mat-card-actions
    .mat-raised-button
      width: 100%
      border-radius: 0
.mat-card-header .mat-card-title
  font-size: 26px
.row.no-gutters div
  display: flex
.mat-card-header
  grid-template-columns: 1fr
  display: grid
  justify-items: center
